include ../../assets/mixins

header(class='site-header')
  a(href='index.html')
    img(src='../../assets/img/adam-laki-logo.svg' alt='Spruce CSS' width='140' class='site-header__logo')
  // p My wife said I have to place something here.
  div(class='site-header__helper')
    nav(class="site-navigation")
      ul
        li
          a(href='index.html') Home
        li
          a(href='about.html') About
        li
          a(href='blog.html') Blog
    ul(class='lang-switcher')
      li
        a(aria-current='page' href='https://sarvar.hu/en/' hreflang='en' aria-label='English') en
      li
        a(href='https://sarvar.hu' hreflang='hu' aria-label='Magyar') hu
