extends ../layout.pug

block variables
  -var title = 'About'

block content
  div(class='post')
    h1(class='post-title') About
    div(class='post-content')
      p(class='lead') Hello! My name is Adam Laki! I’m a front-end and WordPress developer. My central area is the front-end development, which is also my passion. I work a lot with WordPress, inside that with theme development. In my projects, my goal is to make a modern and future-proof results.

      p I’m that kind of developer who is not only want to get over the tasks but also want to make the most of it. The finished product must be future-proof – of course not for the infinity -, but also be easily maintainable, easily expandable, simple, stylish, fast and robust.

      p The continuous development and learning is my primary focus. I try to learn and implement the newest technologies. In an area, like the front-end development, you must develop yourself because you miss the evolution. Fortunately today this is easy, and I think there is no excuse for it.

      h2 Skills
      p To collect my strongest skills was hard. This list is not complete and not too detailed. The front-end developer’s skillset is always expanded and everything that its include I should know. Logically I don’t know everything, but I try to keep it up.

      ul
        li I’ve come to this field from a graphic design background and because of this using Photoshop, Illustrator and InDesign is not a problem. Today I only use Affinity products named Designer and Photo, and I’m waiting for the Publisher. <3
        li The semantic HTML is the necessary standard be it microdata or HTML5 tags.
        li CSS is a straightforward language at least for a first and a second look. In practice, this is one of the hardest parts of the development because it is so particular. Your job to make it maintainable and scalable. I try to learn it in and out and get known that techniques which are rarely used.
        li In the previous period, my primary focus was the JavaScript. In practice, I must be better but the closure and the this in the pocket! ;) Currently, the Vue.js is the favorite.
        li I made a lot of site with WordPress from the smaller portfolios to some bigger webshop. Making a usable theme is always a pleasure for me!
        li Also, I develop my soft skills continuously. I trying to be better at communication, writing, teamwork and so
