@use 'sprucecss/scss/spruce';

.blog-card {
  @include spruce.layout-stack(xs);

  h2 {
    font-family: spruce.$font-family-base;
  }

  &__meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: spruce.$font-family-heading;
    gap: spruce.spacer(m);
  }
}
