@use 'sprucecss/scss/spruce';

.blog-card {
  @include spruce.layout-stack(xxs);

  &__title {
    font-family: spruce.$font-family-base;
  }

  &__link {
    color: spruce.color(text);
    text-decoration: none;

    &:hover,
    &:focus {
      color: spruce.color(text);
    }
  }

  &__meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: spruce.$font-family-heading;
    gap: spruce.spacer(m);
  }
}
