@use 'sprucecss/scss/spruce' as *;

.site-header {
  align-items: flex-start;
  display: flex;
  gap: spacer('m');
  inset-block-start: get-css-variable(--container-gap);
  justify-content: space-between;

  @include breakpoint('sm') {
    flex-direction: column;
    min-height: calc(100vh - #{get-css-variable(--container-gap)} * 2);
    position: sticky;
  }

  &__logo {
    height: 6rem;
    width: auto;

    @include breakpoint('sm') {
      height: 7rem;
    }
  }

  &__helper {
    display: flex;
    flex-direction: column;
    gap: spacer('m');
  }
}
