@use 'sprucecss/scss/spruce';

.site-header {
  align-items: flex-start;
  display: flex;
  gap: spruce.spacer(m);
  inset-block-start: spruce.get-css-variable(--container-gap);
  justify-content: space-between;

  @include spruce.breakpoint(sm) {
    flex-direction: column;
    min-height: calc(100vh - #{spruce.get-css-variable(--container-gap)} * 2);
    position: sticky;
  }

  &__logo {
    height: 7rem;
    width: auto;
  }

  &__helper {
    display: flex;
    flex-direction: column;
    gap: spruce.spacer(m);
  }
}
