@use 'sprucecss/scss/spruce' as *;

.site-header {
  align-items: center;
  display: flex;
  gap: spacer('m');
  inset-block-start: get-css-variable(--container-gap);
  justify-content: space-between;

  @include breakpoint('sm') {
    flex-direction: column;
    min-height: calc(100vh - #{get-css-variable(--container-gap)} * 2);
    position: sticky;
  }

  &__logo {
    height: 5rem;
    width: auto;

    @include breakpoint('sm') {
      height: 7rem;
    }
  }

  &__navigation {
    order: 2;
    position: relative;

    @include breakpoint('sm') {
      order: -1;
    }

    .site-navigation {
      display: none;
      inset: calc(100% + 1rem) 0 auto auto;
      position: absolute;

      @include breakpoint('sm') {
        display: flex;
        inset: initial;
        position: relative;
      }
    }
  }

  &__toggle {
    @include breakpoint('sm') {
      display: none;
    }

    &[aria-expanded='true'] + .site-navigation {
      display: flex;
    }
  }

  &__helper {
    display: flex;
    gap: spacer('m');

    @include breakpoint('sm') {
      flex-direction: column;
    }
  }
}
