@use 'sprucecss/scss/spruce';

.site-hero {
  @include spruce.layout-stack(m);

  &__introduction {
    @include spruce.layout-stack(m);

    h1 {
      font-family: spruce.$font-family-base;
      font-size: spruce.responsive-font-size(2rem, 40);
      font-weight: 400;
      line-height: spruce.$line-height-heading;
    }
  }
}
