@use 'sprucecss/scss/spruce' as *;

.site-hero {
  @include layout-stack('m');

  &__introduction {
    @include layout-stack('m');

    h1 {
      font-family: config('font-family-base', $typography);
      font-size: responsive-font-size(2rem, 40);
      font-weight: 400;
      line-height: config('line-height-md', $typography);
    }
  }
}
