@use 'sprucecss/scss/spruce';

.lang-switcher {
  @include spruce.clear-list;
  align-items: center;
  display: flex;
  gap: spruce.spacer(xs);

  > * + * {
    margin-block-start: 0;
  }

  a {
    align-items: center;
    aspect-ratio: 1;
    color: spruce.color(text);
    display: flex;
    font-family: spruce.$font-family-heading;
    font-size: spruce.$font-size-sm;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    width: 2rem;

    &:hover {
      background-color: hsl(0 0% 98%);
    }

    &[data-state='active'] {
      background-color: spruce.color(text);
      color: hsl(0 0% 100%);
    }
  }
}
