@use 'sprucecss/scss/spruce' as *;

.site-navigation {
  border: 1px solid color('border');
  border-radius: config('border-radius-sm', $display);
  background-color: hsl(0deg 0% 100%);
  font-family: config('font-family-heading', $typography);
  padding: spacer('m');
  text-align: end;

  @include breakpoint('sm') {
    background-color: transparent;
    border: 0;
    padding: 0;
    text-align: start;
  }

  ul {
    @include clear-list;
    @include layout-stack('s');
  }

  li {
    line-height: config('line-height-md', $typography);
  }

  a {
    color: color('text');
    text-decoration: none;

    @include breakpoint('md') {
      font-size: 1.2rem;
    }

    &:hover {
      color: color('primary');
    }

    &[aria-current="page"] {
      color: color('primary');
      font-weight: 700;
    }
  }
}
