@use 'sass:color';
@use 'sprucecss/scss/spruce' as *;

.pagination {
  @include clear-list;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: config('font-family-heading', $typography);
  gap: spacer('s');
  margin-block-start: spacer('xl');

  > * {
    margin-block: 0;
  }

  a {
    --dimension: 2.5rem;
    align-items: center;
    background-color: hsl(0 0% 98%);
    border-radius: config('border-radius-lg', $display);
    color: color(text);
    display: flex;
    font-size: config('font-size-sm', $typography);
    height: var(--dimension);
    justify-content: center;
    min-width: var(--dimension);
    text-decoration: none;
    text-transform: uppercase;

    &[aria-current='page'],
    &:hover {
      background-color: color('text');
      color: hsl(0 0% 100%);
      text-decoration: none;
    }
  }

  .next,
  .prev {
    padding-inline: 1rem;
    width: auto;
  }
}
