@use 'sprucecss/scss/spruce';

.projects {
  @include spruce.layout-stack(m);

  &__inner {
    @include spruce.layout-grid(l, 20rem);
  }
}

.project {
  @include spruce.layout-stack(xs);
  background-color: #000000;
  background-color: #fff3e6;
  background-color: #f9f9f9;
  // color: hsl(0 0% 100%);
  color: #000000;
  padding: spruce.spacer(l);
  text-decoration: none;
  border-radius: 0 3rem 3rem 3rem;

  h2 {
    // color: hsl(0 0% 100%);
    font-family: spruce.$font-family-base;
  }

  &:hover {
    color: spruce.color(text);
  }
}
