@use 'sprucecss/scss/spruce';

.projects {
  @include spruce.layout-stack(m);

  &__inner {
    --spacer: #{spruce.spacer(m)};
    @include spruce.layout-grid(var(--spacer), 20rem);

    @include spruce.breakpoint(md) {
      --spacer: #{spruce.spacer(l)};
    }
  }
}

.project {
  --border-radius: clamp(0.5rem, 2vw, 3rem);
  @include spruce.layout-stack(xs);
  background-color: hsl(0 0% 98%);
  color: spruce.color(text);
  padding: spruce.spacer-clamp(m, l);
  text-decoration: none;
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);

  h2 {
    font-family: spruce.$font-family-base;
  }

  &:hover {
    color: spruce.color(text);
  }
}
