@use 'sprucecss/scss/spruce' as *;

.project-card {
  --border-radius: clamp(0.5rem, 2vw, 3rem);

  @include a11y-card-link('.project-card__link', true);
  border: 1px solid color('border');
  border-radius: var(--border-radius);
  color: color('text');
  display: flex;
  flex-direction: column;
  gap: spacer('s');
  padding: spacer-clamp(2.25rem, 'l') spacer-clamp('m', 'l');
  text-decoration: none;

  > * {
    margin-block: 0;
  }

  &__title {
    font-family: config('font-family-base', $typography);
    font-size: font-size('h3');
  }

  &__link {
    color: color('heading');
    text-decoration: none;

    &:hover,
    &:focus {
      color: color('heading');
    }
  }

  &__counter {
    color: color('primary');
    font-size: font-size('h3');
    font-weight: 700;
    line-height: 1;
    margin-block-start: auto;
  }
}
