@use 'sprucecss/scss/spruce' as *;

.project-card {
  --border-radius: clamp(0.5rem, 2vw, 3rem);

  @include a11y-card-link('.project-card__link', true);
  @include layout-stack('xs');
  background-color: hsl(0 0% 98%);
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
  color: color('text');
  padding: spacer-clamp('m', 'l');
  text-decoration: none;

  &__title {
    font-family: config('font-family-base', $typography);
    font-size: font-size('h4');
  }

  &__link {
    color: color('text');
    text-decoration: none;

    &:hover,
    &:focus {
      color: color('text');
    }
  }
}
