@use 'sprucecss/scss/spruce';

.tag-list {
  @include spruce.clear-list;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: spruce.spacer(s);

  > * + * {
    margin-block-start: 0;
  }
}
