@use 'sprucecss/scss/spruce' as *;

.post-content {
  @include layout-stack;

  > p:first-child {
    font-size: config('font-size-lead', $typography);
    line-height: config('line-height-md', $typography);
    max-width: 100%;
  }

  > * {
    max-width: 40rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: config('font-family-base', $typography);
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: spacer('l');
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: spacer('s');
  }

  img,
  iframe {
    border-radius: config('border-radius-sm', $display);
  }
}
