extends ../layout.pug

block variables
  -var title = 'Home'

block content
  div(class='site-hero')
    div(class='container')
      div(class='site-hero__inner')
        p(class='site-hero__introduction') Hey, I'm Adam; #[strong I develop accessible and modern sites and applications.] I make Spruce CSS and contribute to Root. I like static sites; I primarily work with 11ty, Gatsby and WordPress.
