@forward 'config';
@forward 'components';

@use 'sprucecss/scss/spruce';

:root {
  @include spruce.set-css-variable((
    --container-width: spruce.$container-width,
    --container-gap: spruce.spacer-clamp(s, l)
  ));
}

.layout {
  &__inner {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 10rem 1fr;
    padding-block: spruce.get-css-variable(--container-gap);
  }

  &__body {
    @include spruce.layout-stack(xxl);
    max-width: 55rem;
    margin-inline: auto;
  }
}

.projects {
  @include spruce.layout-stack(m);

  &__inner {
    @include spruce.layout-grid(l, 20rem);
  }
}

.project {
  @include spruce.layout-stack(xs);
  background-color: #000000;
  background-color: #fff3e6;
  // color: hsl(0 0% 100%);
  color: #000000;
  padding: spruce.spacer(l);
  text-decoration: none;
  border-radius: 0 3rem 3rem 3rem;

  h2 {
    // color: hsl(0 0% 100%);
  }

  &:hover {
    color: spruce.color(text);
  }
}
