{% extends "layouts/base.html" %}

{% block content %}
  <div class="l-page">
    <img class="l-page__logo" src="/img/bite-sized-a11y-logo.svg" alt="{{ site[lang].name }}" height="156" width="45">
    <h1 class="l-page__title">{{ title }}</h1>

    <div class="post-content">
      {{ content | safe }}
    </div>

    {% if resources %}
      <div class="resources">
        <h2 class="headline">Resources</h2>
        <ol>
          {% for item in resources %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    <div class="l-page__footer"">
      <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
      {% include "partials/tags.html" %}
  </div>
  </div>
{% endblock %}
