@use 'sprucecss/scss/spruce';

.container {
  @include spruce.set-css-variable((
    --container-width: spruce.$container-width,
    --container-gap: spruce.spacer-clamp(s, l)
  ));

  @include spruce.layout-center(
    spruce.get-css-variable(--container-gap),
    spruce.get-css-variable(--container-width)
  );

  &--wide {
    @include spruce.set-css-variable((
      --container-width: 100%
    ));
  }
}
