@use 'sprucecss/scss/spruce';

.footer {
  padding: spruce.spacer(l) 0;

  &__inner {
    background-color: spruce.color(heading);
    color: hsl(0 0% 100%);
    padding: spruce.get-css-variable(--container-gap);
  }

  &__copyright {
    margin-bottom: 0;
    margin-top: 0;
  }
}
