@use 'sprucecss/scss/spruce';

.footer {
  display: flex;
  gap: spruce.spacer(m);
  justify-content: space-between;
}

.block {
  @include spruce.layout-stack(xxs);

  &__title {
    font-size: spruce.$font-size-base;
  }
}
