@use 'sprucecss/scss/spruce' as *;

.l-main {
  &__inner {
    align-items: flex-start;
    display: grid;
    gap: spacer('l');
    grid-template-columns: minmax(0, 1fr);
    padding-block: get-css-variable(--container-gap);

    @include breakpoint('sm') {
      grid-template-columns: minmax(0, 10rem) minmax(0, 1fr);
    }
  }

  &__body {
    --spacer: #{spacer('xl')};
    @include layout-stack(var(--spacer));
    margin-inline: auto;
    max-width: 55rem;
    width: 100%;

    @include breakpoint('sm') {
      --spacer: #{spacer('xxl')};
    }
  }
}
