@use 'sprucecss/scss/spruce';

.l-page {
  margin-inline: auto;

  &--tools {
    .accordion-list {
      margin-block-start: spruce.spacer(l);
      max-width: 40rem;
    }
  }

  &__title {
    font-size: spruce.responsive-font-size(5rem, 40, '5vw');
    line-height: spruce.$line-height-sm;
    margin-block: spruce.spacer-clamp(m, l) spruce.spacer(m);

    &--regular {
      font-family: spruce.$font-family-base;
      font-size: spruce.responsive-font-size(4.25rem, 40, '5vw');
    }
  }

  &__list {
    @include spruce.layout-stack(l);
    @include spruce.clear-list;
    margin-block-start: spruce.spacer(l);
  }
}
