@use 'sprucecss/scss/spruce' as *;

.l-page {
  $this: &;

  margin-inline: auto;

  &--tools {
    .accordion-list {
      margin-block-start: spacer('l');
      max-width: 40rem;
    }
  }

  &__logo {
    block-size: 3rem;
    inline-size: auto;
    margin-block-start: spacer-clamp('m', 'l');

    + #{$this}__title {
      margin-block-start: spacer('m');
    }
  }

  &__title {
    font-size: responsive-font-size(5rem, 60, '4vw');
    line-height: config('line-height-sm', $typography);
    margin-block: spacer-clamp('m', 'l') spacer('m');

    &--regular {
      font-family: config('font-family-base', $typography);
      font-size: responsive-font-size(4.25rem, 40, '5vw');
    }
  }

  &__list {
    @include layout-stack('l');
    @include clear-list;
    margin-block-start: spacer('l');
  }

  &__footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('m');
    margin-block-start: spacer('l');
  }
}
