@use 'sprucecss/scss/spruce';

.l-post {
  margin-inline: auto;

  &__title {
    font-family: spruce.$font-family-base;
    font-size: spruce.responsive-font-size(4.25rem, 40, '5vw');
    line-height: spruce.$line-height-sm;
    margin-block: spruce.spacer-clamp(m, l) spruce.spacer(m);
  }

  &__meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: spruce.$font-family-heading;
    gap: spruce.spacer(m);
    margin-block-end: spruce.spacer(m);
  }
}
