@use 'sprucecss/scss/spruce' as *;

.form-group-list {
  @include layout-stack('s');
}

.form-group--btns {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: spacer('s');

  &-space-between {
    justify-content: space-between;
  }
}
