@use 'sprucecss/scss/spruce' with (
  $color-black: hsl(0deg 0% 0%),
  $color-primary: hsl(216deg 100% 50%),
  $color-secondary: hsl(216deg 100% 97%),
  $colors: (
    'base': (
      'text': hsl(189deg 4% 38%),
    ),
    'btn': (
      'secondary-foreground': hsl(216deg 100% 20%),
      'secondary-background-hover': hsl(216deg 100% 97%),
    ),
    'prism': (
      'color': hsl(243 14% 29%),
      'background': hsl(0 0% 98%),
      'comment': hsl(225 14% 46%),
      'punctuation': hsl(279 50% 53%),
      'namespace': hsl(173 100% 24%),
      'deleted': hsla(1 83% 63% / 0.56),
      'boolean': hsl(0 44% 53%),
      'number': hsl(315 90% 35%),
      'constant': rgb(63, 107, 202),
      'class-name': hsl(0 0% 7%),
      'regex': hsl(1 48% 59%),
    )
  ),
  $display: (
    'border-radius-sm': 0.65rem,
    'border-radius-lg': 0.95rem,
  ),
  $generators: (
    'form': (
      'btn': true,
      'file-btn': false,
      'form-check': false,
      'form-control': true,
      'form-description': false,
      'form-feedback': false,
      'form-fieldset': false,
      'form-group': false,
      'form-label': false,
      'form-range': false,
      'form-row': false,
      'form-switch': false,
    ),
  ),
  $layout: (
    'container-inline-size': 50rem,
  ),
  $settings: (
    'hyphens': false,
    'prefix': 'adam',
  ),
  $typography: (
    'font-family-base': #{'Figtree', sans-serif},
    'font-family-heading': #{'Figtree', sans-serif},
    'font-size-base': 1.0375rem,
    'font-size-lead': clamp(1.2rem, 2vw + 1rem, 2rem),
    'line-height-heading': calc(2px + 2.25ex + 2px),
  ),
);
