@forward 'config';
@forward 'layout';
@forward 'components';
@forward 'content';
@forward 'extend';

@use 'sprucecss/scss/spruce';

:root {
  @include spruce.set-css-variable((
    --container-width: spruce.$container-width,
    --container-gap: spruce.spacer-clamp(s, l)
  ));
}

body {
  @include spruce.breakpoint(md) {
    font-size: 1.1375rem;
  }
}
