@forward 'config';
@forward 'layout';
@forward 'components';
@forward 'content';

@use 'sprucecss/scss/spruce' as *;

:root {
  @include set-css-variable((
    --container-width: config('container-width', $layout, false),
    --container-gap: spacer-clamp('s', 'l')
  ));
}

body {
  @include breakpoint('md') {
    font-size: 1.1375rem;
  }
}
