<div class="l-projects">
  <h2 class="section-title h3">{{ projects.title }}</h2>
  <div class="l-projects__inner">
    {% if projects.cards %}
      {% for card in projects.cards %}
        <div class="project-card">
          <h2 class="project-card__title">
            <a href="{{ card.url }}" class="project-card__link">
              {{ card.title }}
            </a>
          </h2>
          <p class="project-card__description">{{ card.description }}</p>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
