<header class="site-header">
  <a href="/">
    <img class="site-header__logo" src="/img/adam-laki-logo.svg" alt="Adam Laki" height="112" width="93">
  </a>
  <div class="site-header__helper">
    <nav class="site-navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <ul class="lang-switcher">
      <li><a aria-current="page" href="#" hreflang="en" aria-label="English">en</a></li>
      <li><a href="#" hreflang="hu" aria-label="Magyar">hu</a></li>
    </ul>
  </div>
</header>
