<footer class="site-footer">
  <div class="info-card">
    <h3 class="info-card__title">{{ site[lang].name }}</h3>
    <p class="info-card__value">{{ site[lang].profession }}</p>
  </div>
  <div class="info-card">
    <h3 class="info-card__title">{{ i18n[lang].contact }}</h3>
    <p class="info-card__value"><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
  </div>
  <div class="info-card">
    <h3 class="info-card__title">{{ i18n[lang].social }}</h3>
    <p class="info-card__value"><a href="{{ site.twitter }}">Twitter</a>,  <a href="{{ site.github }}">GitHub</a></p>
  </div>
</footer>
