<form class="form-capitalize">
  <div class="form-group-list">
    <div class="form-group">
      <label class="form-label" for="capitalize-input">Your title</label>
      <input class="form-control form-capitalize__input" id="capitalize-input" type="text" autocomplete="off"/>
    </div>
    <div class="form-group">
      <label class="form-label" for="capitalize-output">Your capitalized title</label>
      <input class="form-control form-capitalize__output" disabled id="capitalize-output" type="text"/>
    </div>
    <div class="form-group form-group--btns form-group--btns-space-between">
      <div class="form-group form-group--btns">
        <button type="submit" class="btn btn--primary form-capitalize__generate" disabled>Generate</button>
        <button type="reset" class="btn btn--secondary form-capitalize__reset" disabled>Reset</button>
      </div>
      <button type="button" class="btn btn--secondary form-capitalize__copy" disabled>Copy</button>
    </div>
  </div>
</form>
